# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [21]:
#str.lstrip()
#help(str.lstrip)

name= "   Austin"
name.lstrip()

name= "   Austin"
name.lstrip("  A")

'ustin'

##### .rstrip()

In [17]:
name = "   Pari   "

In [19]:
name.rstrip("r i")

'   Pa'

##### .strip()

In [22]:
name= "   Jesus  "

In [23]:
name.strip()

'Jesus'

In [25]:
word= "racercar"
word.strip("r at")

'cerc'

##### .title()

In [30]:
my_string = "i p freely"

In [34]:
my_string = my_string.title()
print(my_string)

I P Freely

In [28]:
my_string.upper()

'I P FREELY'

In [29]:
my_string.lower()

'i p freely'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [52]:
names = ['    coNNer', 'max', 'EVan',  'JORDAN']

for name in names:
    print(name.strip().title())

Conner
Max
Evan
Jordan

### Working With Lists

##### min()

In [67]:
my_list = [88,56,234,654,2,44,6]
min(my_list)

2

##### max()

In [55]:
max(my_list)

654

##### sum()

In [56]:
sum(my_list)

1084

##### sorted()

In [69]:
# built in function in python works on any iterable 
# return a copy of the array in sortder order ---out of placce 
print(sorted(my_list))
print(my_list)
my_list = sorted(my_list)
print(my_list)

print(sorted("zdatr"))
print(my_list.sorted())

[2, 6, 44, 56, 88, 234, 654]
[2, 6, 44, 56, 88, 234, 654]
[2, 6, 44, 56, 88, 234, 654]
['a', 'd', 'r', 't', 'z']

AttributeError: 'list' object has no attribute 'sorted'

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [68]:
#sort is a mrthod of the list class 


my_list = [88,56,234,654,2,44,6]
print(my_list.sort())
print(my_list)

None
[2, 6, 44, 56, 88, 234, 654]

##### Copying a List

In [76]:
#probs a bad idea 
my_list1 = [1,2,3,4,5]

my_list2 = my_list1

my_list2.append(6)

print(my_list1)
print(my_list2)

print(id(my_list1))
print(id(my_list2))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
4408811328
4408811328

In [77]:
my_list = [1,2,3,4,5]
my_list2 = my_list1[:]
my_list2.append(6)

print(my_list1)
print(my_list2)

print(id(my_list1))
print(id(my_list2))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 6]
4408811328
4409475392

##### 'in' keyword

In [83]:
5 in [2,3,6,7] #note in a list this is basically a for loop
5 in {2,3,7,} # this is constant time operation

False

##### 'not in' keyword

In [81]:
5 not in [2,3,6,7]

True

##### Checking an Empty List

In [85]:
my_list = []
if my_list ==[]:
    print("its empty")
    
if len(my_list) == 0: 
    print("empty")
    
if not my_list: 
    print ("empty")

its empty
empty
empty

##### Removing Instances with a Loop

In [90]:
names = ["toan", "tim","steve", "mccall", "anu"]
while "steve" in names: 
    names.remove("steve")
    print(names)
print(f"list at the end of the loop: {names}")

['toan', 'tim', 'mccall', 'anu']
list at the end of the loop: ['toan', 'tim', 'mccall', 'anu']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [107]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# i need to create a new list to add items too

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)
#or 
list(set(names))

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['max', 2, 3, 4, 'evan', 'bob', 'kevin', 'connor']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [112]:
nums =[]
for i in range(100):
    nums.append(i)
print(nums)

nums_comp = [i**2 for i in range(100)]
print(f"nums_comp \n{nums_comp}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
nums_comp
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [116]:
names = ["mark", "eduardo", "tina", "tate", "pari"]
first_char_comp = [name[0]for name in names]
print(first_char_comp)

['m', 'e', 't', 't', 'p']

In [121]:
#what if we need if statements 

four_l=[]
for name in names:
    if len(names)==4:
        four_l.append(name)
    else:
        four_l.append("not 4")
print(four_l)

four_letter_names = [name for name in names if len(names)==5]
print(four_letter_names)

# ill add people whose length is not 5 intothe last as "not 5"
four_letter_names = [name if len(name)==4 else "not4" for name in names]
print(four_letter_names)

['not 4', 'not 4', 'not 4', 'not 4', 'not 4']
['mark', 'eduardo', 'tina', 'tate', 'pari']
['mark', 'not4', 'tina', 'tate', 'pari']

In [123]:
la= [1,2,3,4,5]
lb= ["A","B","C","D"]

let_num=[]
for number in la:
    for letter in lb:
        let_num.append(str(number)+letter)
print(let_num)

['1A', '1B', '1C', '1D', '2A', '2B', '2C', '2D', '3A', '3B', '3C', '3D', '4A', '4B', '4C', '4D', '5A', '5B', '5C', '5D']

In [136]:
my_list = ["steve", "susan", "jake", "troy"]
first_char_comp = [my_list[-1].upper() for my_list in my_lists]
print(first_char_comp)

['E', 'N', 'E', 'Y']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [138]:
t= 1,2,3
print(t,type(t))
t_1= (1,2,3)
print(t_1,type(t_1))

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>

In [ ]:
t_2 = tuploe()
t_3 = ()

In [ ]:
#Reconstruct the tuple and add values
my_tup = ["Tim", "david", "mike"]
my_tup[1]

In [ ]:
my_tup[1] = "Jones" # tupoles are immutable

##### sorted()

In [144]:
sorted_tup = (sorted(my_tup))
sorted_tup

['Tim', 'david', 'mike']

##### Adding values to a Tuple

In [147]:
new_tup = (1,2,3,["a","b","c"])
new_tup[3][1]="d"
new_tup

(1, 2, 3, ['a', 'd', 'c'])

2

## Functions

##### User-Defined vs. Built-In Functions

In [150]:
#built-in 
#int(), min,max,type,print,help,dir,abs,sorted

def say_hello(): 
    print("Hello World!")

say_hello()

Hello World!

##### Accepting Parameters

In [152]:
# Order matters
# A variable can be any type of object
def print_full_name(first_name, last_name): 
    print(f"{first_name} {last_name}")
    
print_full_name("Kevin", "Beier")

Kevin Beier

##### Default Parameters

In [153]:
def print_agent_name(first,last="Bond"):
    print(f"Your agent name is {last}, {first} {last}")
    
print_agent_name("Kevin")

Your agent name is Bond, Kevin Bond

In [154]:
print_agent_name(last="beier", first="kevin")

Your agent name is beier, kevin beier

In [ ]:
help(list.sort)

##### Making an Argument Optional

In [157]:
def make_name(first, middle="", last="Ed"):
    print(f"Hello {first} {middle} {last}")
make_name("Pari")
make_name("Kevin", "andrew", "beier")

Hello Pari  Ed
Hello Kevin andrew beier

In [160]:
def what_datatype(): 
    return 5/5

what_datatype()

1.0

In [162]:
def return_stops():
    for i in range(10):
        print(i)
        if i== 3:
            return
return_stops()

0
1
2
3

In [163]:
def dead_code(): #unreachable code 
    print("hello")
    return
    print("goodbye") #<--- unreachable!!!

dead_code()

hello

##### Keyword Arguments

In [ ]:
#see above

# Creating a start, stop, step function

In [164]:
# *args and *kwargs
def my_func (*args): 
    for arg in args:
        print(arg)
        
my_func(2,3,4,5,6,7,8)

2
3
4
5
6
7
8

In [164]:
# *args and *kwargs
def my_func (*args): 
    for arg in args:
        print(arg)
        
my_func(2,3,4,5,6,7,8)

2
3
4
5
6
7
8

In [166]:
def my_fun(name, **kwargs):
    for key in kwargs: 
        print(key, kwargs[key])
my_fun("kevin", height=72, weight=120.4, foods=["pizza","tacos"])

height 72
weight 120.4
foods ['pizza', 'tacos']

In [170]:
def my_func(*args):
    return sum(args)
my_func(1,2,3)

6

In [174]:
def my_range(stop, start=0, step=1):
    for i in range(start,stop,step):
        print(i)

my_range(10,5)

5
6
7
8
9

##### Returning Values

In [176]:
def add_nums (num1,num2):
    return num1+num2
print(add_nums(1,2))

3

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

##### Docstring

In [179]:
def my_function(name, age):

    return f"{name} is {age}"

##### Using a User Function in a Loop

In [180]:
def add_two(n):
    print(n+2)
while True:
    ask = int(input("what is your number? "))
    add_two(ask)
    response = input("ready to quit yet? ")
    if response.lower() =="quit":
        break

what is your number? 4
6
ready to quit yet? no
what is your number? 8
10
ready to quit yet? quit

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [272]:
first = ['John', 'Evan', 'Jordan', 'Max']
last = ['Smith', 'Smith', 'Williams', 'Bell']
#assume the list is the same length
def add_names(first_names,last_names):
    full_names=[]
    for i in range(len(first_names)):
        full_names.append(first_name[i]+ " "+last_names[i])
print(add_names(first,last))

def add_names_comp(first_names,last_names):
    full_names = [first_name[i]+ " "+ [last_names[i] for i in range(len(first_names))]]



# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

None

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [182]:
#placement of variable declaration matters
var1= "A"

def my_function():
    print(var1)
    var2 = "B"
    print(var2)
    
my_function()
print(var2)

A
B

NameError: name 'var2' is not defined

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [1]:
def My_list(x):
    my_list = []
    for i in x:
        if i < 10: 
            my_list.append(i)
    print(my_list)
    
My_list([1,11,14,5,8,9])

[1, 5, 8, 9]

In [281]:
numbers= [1,11,14,5,8,9]

new_numbers=[]
for number in numbers: 
    if number < 10:
        new_numbers.append(number)
print(new_numbers)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [313]:
num1 = [2,1,5]
num2= [6,3,4]

def add_num(num_1,num_2):
    full_num = num_1+num_2
    full_num.sort()
    return full_num

print(add_num(num1,num2))

[1, 2, 3, 4, 5, 6]